// This is what all buttons start out with
button {
  background-color: #ad9a78;
  color: #ffffff;
  padding: 1rem;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
  }
}

// Anything below is custom for a specific button
.add_animal_button,
.create_kennel_button {
  width: 100%;
  margin-top: 0.75rem;
  @media screen and (min-width: 767px) {
    max-width: 200px;
  }
}
