// This is what all buttons start out with
button {
  background-color: #ad9a78;
  color: #ffffff;
  padding: 1rem;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
}

// Anything below is custom for a specific button
.add_animal_button,
.create_kennel_button {
  width: 100%;
  margin-top: 0.75rem;
  @media screen and (min-width: 1000px) {
    max-width: 200px;
  }
}
