h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
span,
label {
  color: #333333;
}
h2 {
  font-size: 2em;
  font-weight: 600;
}
//This wrapper wraps everything between header and footer
.App {
  @media screen and (min-width: 767px) {
    max-width: 80vw;
    margin: 0 auto;
  }
}
