.navbar {
  display: flex;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    a {
      color: #fff;
    }
  }
  .mobile_navigation {
    display: flex;
    align-items: center;

    ul {
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      background: #333333;
      padding: 0;
      margin: 98px 0 0 0;
      width: 30%;
      min-height: 100vh;
    }
    li {
      margin: 1rem 0;
      justify-content: flex-start;
      width: 100%;
    }
    a {
      margin-left: 1rem;
    }
    .profile_icon,
    .logout_icon {
      color: #ffffff;
      margin-left: 1rem;
    }
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
  .navigation {
    @media screen and (max-width: 767px) {
      display: none;
    }
    ul {
      flex-direction: row;
    }
    li {
      margin: 0 1rem;
    }
    a {
      color: #333333;
      margin: 0 0.5rem;
    }
    .hamburger {
      cursor: pointer;
    }
  }
}
