.edit_animal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 96%;
    padding: 1rem;
    border-radius: 5px;
    @media screen and (min-width: 1000px) {
      max-width: 50%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 30%;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  button {
    margin-top: 1rem;
  }
}
