// This is for the list of kennels
.kennel {
  &.container {
    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }
  }
  ul.all_kennels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 1rem 0;
    @media screen and (min-width: 767px) {
      flex-wrap: wrap;
      overflow-x: unset;
      justify-content: space-between;
    }
  }
  li.kennel_card {
    @media screen and (max-width: 767px) {
      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
    list-style-type: none;
    border: 1px solid #333333;
    background-color: #f4f4f4;
    min-width: 10rem;
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  h3.kennel_name {
    padding: 0;
    margin: 0;
  }
}
